.weather {
  max-width: 597px;

  &__title {
    .weather__city {
      font-size: 8vmin;
      font-weight: bold;
      text-transform: uppercase;
    }

    .weather__current-date {
      font-size: 6vmin;
    }
  }

  &__forecast {
    .following__days {
      display: flex;
      & > * {
        margin-right: 7px;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
  &__updated-date {
    color: darken(white, 15%);
    font-size: 2.5vmin;
  }
}