.weather {
  box-sizing: border-box;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;

  .details {
    padding: 0 35px 45px 0;
    flex: 1;

    &__title {
      .weather__city {
        font-size: 8vmin;
        font-weight: bold;
        text-transform: uppercase;
      }

      .weather__current-date {
        font-size: 6vmin;
      }
    }

    &__forecast {
      .days__following {
        display: flex;
        & > * {
          margin-right: 7px;

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }

    &__updated-date {
      color: darken(white, 15%);
      font-size: 2.5vmin;

      .update__icon {
        margin-left: 5px;
        display: inline-block;
        width: 20px;
        height: 20px;
        cursor: pointer;
      }
    }
  }

  .map {
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    flex: 1 0 400px;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: end;

    &__container {
      width: 100%;
      display: flex;
      flex-direction: row-reverse;
    }

    &__coordinates {
      width: 100%;
      padding-top: 15px;
      font-size: 1.5rem;
    }
  }
}
