.update {
  height: 100%;
  width: 44px;
  background-image: url("../../assets/refresh.png");
  border-radius: 5px;
  border-width: 1px;

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    background: url("../../assets/update.png") center no-repeat;
  }
}
