.search-container {
  display: flex;
  height: 100%;

  .search-input {
    padding: 13px 15px;
    background: rgba(76, 82, 85, 0.4);
    border: 1px solid rgba(228, 227, 227, 0.2);
    color: white;
    font-size: 1.4rem;
    border-radius: 5px 0 0 5px;

    &::placeholder {
      font-size: 0.85em;
      color: inherit;
    }
  }

  .search-button {
    border-radius: 0 5px 5px 0;
    color: white;
    background: rgba(174, 181, 185, 0.5);
    border: 0;
  }
}